@import './variables.scss';
@import './reset.scss';

@mixin font($font-weigth, $font-size) {
    font-weight: $font-weigth;
    font-size: $font-size;
    color: $white;
}

@mixin button($background, $border) {
    transform: skew(-24deg);
    padding: 8px 4rem;
    font-size: 1.6rem;
    font-weight: $medium;
    color: $white;
    text-transform: uppercase;
    background-color: $background;
    border: $border;
    cursor: pointer;
}

@mixin flex($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

.container {
    width: min(95%, 90%);
    margin: 0 auto;
}

header {
    nav {
        margin-bottom: 4rem;
        @include flex(space-between);
        
        ul {
            @include flex(initial);
            gap: 3rem;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
}

.rigth {
    display: flex;
    justify-content: center;
    width: 100%;
    order: -1;

    
    img {
        display: block;
        max-width: 30rem;
        width: 100%;
    }
}

.left {
    max-width: 500px;

    span {
        @include font(700, 1.8rem);
        text-transform: uppercase;
    }
    
    h1 {
        @include font(900, 5.6rem);
        text-transform: uppercase;
        line-height: 7.4rem;
        margin-bottom: 1.6rem;
    }
    
    p {
        @include font(400, 1.4rem);
        margin-bottom: 5.8rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    button {
        @include button($green-ligth, 2px solid transparent);
    }

    & button:first-child {
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

    & button:last-child {
        @include button(transparent, 2px solid $green-ligth);
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .buttons {
        & button:last-child {
            display: initial;
        }
    }
}

@media screen and (min-width: 768px) {
    .left {
        span {
            @include font(700, 2rem);   
        }

        h1 {
            @include font(900, 6.8rem);   
        }
        
        p {
            @include font(400, 1.6rem);   
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        @include flex(space-between);
        width: 100%;
        flex-direction: row;
    }

    .rigth {
        max-width: 50rem;
        justify-content: initial;
        order: initial;
    
        img {
            max-width: 100%;
        }
    }
}