// COLORS
$green-ligth: #628E75;
$green-dark: #1A4855;
$white: #F9F9F9;

// FONT-FAMILY
$font-family: 'Poppins', sans-serif;

// FONT-WEIGTH
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;
